<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row g-6">
    <!-- Basic Buttons -->
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Basic Buttons</h5>
        <div class="card-body">
          <small class="text-light fw-medium">Default</small>
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary">Primary</core-button>
            <core-button variant="secondary">Secondary</core-button>
            <core-button variant="success">Success</core-button>
            <core-button variant="danger">Danger</core-button>
            <core-button variant="warning">Warning</core-button>
            <core-button variant="info">Info</core-button>
            <core-button variant="dark">Dark</core-button>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <small class="text-light fw-medium">Rounded</small>
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary" [rounded]="true">Primary</core-button>
            <core-button variant="secondary" [rounded]="true">Secondary</core-button>
            <core-button variant="success" [rounded]="true">Success</core-button>
            <core-button variant="danger" [rounded]="true">Danger</core-button>
            <core-button variant="warning" [rounded]="true">Warning</core-button>
            <core-button variant="info" [rounded]="true">Info</core-button>
            <core-button variant="dark" [rounded]="true">Dark</core-button>
          </div>
        </div>
      </div>
    </div>

    <!-- Label Buttons -->  
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Label Buttons</h5>
        <div class="card-body">
          <small class="text-light fw-medium">Default</small>
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary" [label]="true">Primary</core-button>
            <core-button variant="secondary" [label]="true">Secondary</core-button>
            <core-button variant="success" [label]="true">Success</core-button>
            <core-button variant="danger" [label]="true">Danger</core-button>
            <core-button variant="warning" [label]="true">Warning</core-button>
            <core-button variant="info" [label]="true">Info</core-button>
            <core-button variant="dark" [label]="true">Dark</core-button>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <small class="text-light fw-medium">Rounded</small>
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary" [label]="true" [rounded]="true">Primary</core-button>
            <core-button variant="secondary" [label]="true" [rounded]="true">Secondary</core-button>
            <core-button variant="success" [label]="true" [rounded]="true">Success</core-button>
            <core-button variant="danger" [label]="true" [rounded]="true">Danger</core-button>
            <core-button variant="warning" [label]="true" [rounded]="true">Warning</core-button>
            <core-button variant="info" [label]="true" [rounded]="true">Info</core-button>
            <core-button variant="dark" [label]="true" [rounded]="true">Dark</core-button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Outline Buttons -->
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Outline Buttons</h5>
        <div class="card-body">
          <small class="text-light fw-medium">Default</small>
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary" [outline]="true">Primary</core-button>
            <core-button variant="secondary" [outline]="true">Secondary</core-button>
            <core-button variant="success" [outline]="true">Success</core-button>
            <core-button variant="danger" [outline]="true">Danger</core-button>
            <core-button variant="warning" [outline]="true">Warning</core-button>
            <core-button variant="info" [outline]="true">Info</core-button>
            <core-button variant="dark" [outline]="true">Dark</core-button>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <small class="text-light fw-medium">Rounded</small>
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary" [rounded]="true" [outline]="true">Primary</core-button>
            <core-button variant="secondary" [rounded]="true" [outline]="true">Secondary</core-button>
            <core-button variant="success" [rounded]="true" [outline]="true">Success</core-button>
            <core-button variant="danger" [rounded]="true" [outline]="true">Danger</core-button>
            <core-button variant="warning" [rounded]="true" [outline]="true">Warning</core-button>
            <core-button variant="info" [rounded]="true" [outline]="true">Info</core-button>
            <core-button variant="dark" [rounded]="true" [outline]="true">Dark</core-button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Text Buttons -->
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Text Buttons</h5>
        <div class="card-body">
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary" [text]="true">Primary</core-button>
            <core-button variant="secondary" [text]="true">Secondary</core-button>
            <core-button variant="success" [text]="true">Success</core-button>
            <core-button variant="danger" [text]="true">Danger</core-button>
            <core-button variant="warning" [text]="true">Warning</core-button>
            <core-button variant="info" [text]="true">Info</core-button>
            <core-button variant="dark" [text]="true">Dark</core-button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Buttons with Icons -->
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Buttons with Icons</h5>
        <div class="card-body">
          <div class="row gy-3">
            <div class="col-lg-4">
              <small class="text-light fw-medium">Basic</small>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary">
                  <span class="tf-icons bx bx-pie-chart-alt bx-18px me-2"></span>Primary
                </core-button>
                <core-button variant="secondary">
                  <span class="tf-icons bx bx-bell bx-18px me-2"></span>Secondary
                </core-button>
              </div>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary" [rounded]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-18px me-2"></span>Primary
                </core-button>
                <core-button variant="secondary" [rounded]="true">
                  <span class="tf-icons bx bx-bell bx-18px me-2"></span>Secondary
                </core-button>
              </div>
            </div>
            <div class="col-lg-4">
              <small class="text-light fw-medium">Label</small>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary" [label]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-18px me-2"></span>Primary
                </core-button>
                <core-button variant="secondary" [label]="true">
                  <span class="tf-icons bx bx-bell bx-18px me-2"></span>Secondary
                </core-button>
              </div>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary" [label]="true" [rounded]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-18px me-2"></span>Primary
                </core-button>
                <core-button variant="secondary" [label]="true" [rounded]="true">
                  <span class="tf-icons bx bx-bell bx-18px me-2"></span>Secondary
                </core-button>
              </div>
            </div>
            <div class="col-lg-4">
              <small class="text-light fw-medium">Outline</small>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary" [outline]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-18px me-2"></span>Primary
                </core-button>
                <core-button variant="secondary" [outline]="true">
                  <span class="tf-icons bx bx-bell bx-18px me-2"></span>Secondary
                </core-button>
              </div>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary" [rounded]="true" [outline]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-18px me-2"></span>Primary
                </core-button>
                <core-button variant="secondary" [rounded]="true" [outline]="true">
                  <span class="tf-icons bx bx-bell bx-18px me-2"></span>Secondary
                </core-button>
              </div>
            </div>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <div class="row gy-3">
            <div class="col-lg-4">
              <small class="text-light fw-medium">Basic</small>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary" [icon]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-22px"></span>
                </core-button>
                <core-button variant="secondary" [icon]="true">
                  <span class="tf-icons bx bx-bell bx-22px"></span>
                </core-button>
                <core-button variant="primary" [icon]="true" [rounded]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-22px"></span>
                </core-button>
                <core-button variant="secondary" [icon]="true" [rounded]="true">
                  <span class="tf-icons bx bx-bell bx-22px"></span>
                </core-button>
              </div>
            </div>
            <div class="col-lg-4">
              <small class="text-light fw-medium">Label</small>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary" [label]="true" [rounded]="true" [icon]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-22px"></span>
                </core-button>
                <core-button varaint="secondary" [label]="true" [rounded]="true" [icon]="true">
                  <span class="tf-icons bx bx-bell bx-22px"></span>
                </core-button>
              </div>
            </div>
            <div class="col-lg-4">
              <small class="text-light fw-medium">Outline</small>
              <div class="d-flex flex-grow-1 flex-wrap">
                <core-button variant="primary" [icon]="true" [outline]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-22px"></span>
                </core-button>
                <core-button variant="secondary" [icon]="true" [outline]="true">
                  <span class="tf-icons bx bx-bell bx-22px"></span>
                </core-button>
                <core-button variant="primary" [icon]="true" [outline]="true" [rounded]="true">
                  <span class="tf-icons bx bx-pie-chart-alt bx-22px"></span>
                </core-button>
                <core-button variant="secondary" [icon]="true" [outline]="true" [rounded]="true">
                  <span class="tf-icons bx bx-bell bx-22px"></span>
                </core-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button Options -->
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Button Options</h5>
        <div class="card-body">
          <small class="text-light fw-medium">Sizes</small>
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary" size="xl">Button xl</core-button>
            <core-button variant="primary" size="lg">Button lg</core-button>
            <core-button variant="primary">Button</core-button>
            <core-button variant="primary" size="sm">Button sm</core-button>
            <core-button variant="primary" size="xs">Button xs</core-button>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <small class="text-light fw-medium">Buttons State</small>
          <div class="d-flex flex-grow-1 flex-wrap">
            <core-button variant="primary">Normal</core-button>
            <core-button variant="primary" [active]="true">Active</core-button>
            <core-button variant="primary" [disabled]="true">Disabled</core-button>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <small class="text-light fw-medium">Block level buttons</small>
          <div class="row mt-4">
            <div class="d-grid gap-2 col-lg-6 mx-auto">
              <core-button variant="primary" size="lg" type="button">Button</core-button>
              <core-button variant="secondary" size="lg" type="button">Button</core-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Button Plugin -->
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Button Plugin</h5>
        <div class="card-body">
          <div class="row gy-3">
            <div class="col-xl-3">
              <div class="text-light small fw-medium">Toggle states</div>
              <div class="demo-vertical-spacing">
                <button class="btn btn-primary d-block" data-bs-toggle="button">Toggle button</button>
                <button class="btn btn-primary active d-block" data-bs-toggle="button" aria-pressed="true">Active toggle button</button>
                <button class="btn btn-primary d-block" [disabled]="true" data-bs-toggle="button">Disabled toggle button</button>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="text-light small fw-medium">Checkbox toggle buttons</div>
              <div class="demo-vertical-spacing">
                <div class="d-block">
                  <input type="checkbox" class="btn-check" id="btn-check">
                  <label class="btn btn-primary" for="btn-check">Single toggle</label>
                </div>
                <div class="d-block">
                  <input type="checkbox" class="btn-check" id="btn-check-2" checked="">
                  <label class="btn btn-primary" for="btn-check-2">Checked</label>
                </div>
                <div class="d-block">
                  <input type="checkbox" class="btn-check" id="btn-check-3" checked="">
                  <label class="btn btn-primary" for="btn-check-3">Checked</label>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="text-light small fw-medium">Checkbox and radio</div>
              <div class="demo-vertical-spacing">
                <!-- Checkbox -->
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <input type="checkbox" class="btn-check" id="btncheck1" checked="">
                  <label class="btn btn-outline-primary d-flex flex-column" for="btncheck1"><span class="d-none d-sm-block">Checkbox</span>1 ( pre-checked )</label>
  
                  <input type="checkbox" class="btn-check" id="btncheck2">
                  <label class="btn btn-outline-primary d-flex flex-column" for="btncheck2"><span class="d-none d-sm-block">Checkbox</span>2</label>
  
                  <input type="checkbox" class="btn-check" id="btncheck3">
                  <label class="btn btn-outline-primary d-flex flex-column" for="btncheck3"><span class="d-none d-sm-block">Checkbox</span>3</label>
                </div>
                <br>
                <!-- Radio -->
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked="">
                  <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                  <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                  <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Button Group -->
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Button Group</h5>
        <div class="card-body">
          <div class="row g-4">
            <div class="col-md-6 col-lg-4">
              <small class="text-light fw-medium">Basic</small>
              <div class="mt-4">
                <core-button-group [buttons]="basicButtons"></core-button-group>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <small class="text-light fw-medium">Label</small>
              <div class="mt-4">
                <core-button-group [buttons]="labelButtons"></core-button-group>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <small class="text-light fw-medium">Outline</small>
              <div class="mt-4">
                <core-button-group [buttons]="outlineButtons"></core-button-group>
              </div>
            </div>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-6 mb-xl-0 mb-4">
              <small class="text-light fw-medium">Button Toolbar</small>
              <div class="btn-toolbar d-flex flex-grow-1 flex-wrap" role="toolbar" aria-label="Toolbar with button groups">
                <core-button-group [buttons]="toolbarButtons1"></core-button-group>
                <core-button-group [buttons]="toolbarButtons2"></core-button-group>
                <core-button-group [buttons]="toolbarButtons3"></core-button-group>
              </div>
            </div>
            <div class="col-xl-6">
              <small class="text-light fw-medium">Button Nesting</small>
              <div class="mt-4">
                <core-button-group [buttons]="nestedButtons"></core-button-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>