<div class="text-3xl font-bold">Modal</div>

<Modal
  [isOpen]="isModalOpen"
  placement="center"
  backdrop="dynamic"
  [closable]="true"
  (onHide)="handleModalHide()"
  size="lg"
>
  <ng-template #modalHeader>
    <h2 class="text-lg font-bold">Custom Modal Header</h2>
  </ng-template>

  <ng-template #modalBody>
    <p>This is a dynamically passed modal body content.</p>
  </ng-template>

  <ng-template #modalFooter>
    <button
      (click)="closeModal()"
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded"
    >
      Close
    </button>
  </ng-template>
</Modal>

<Button variant="primary" type="button" size="md" (click)="openModal()">
  Open Modal
</Button>
