<div class="h2">Buttons</div>

<div class="my-3">
  <div class="mb-1">Normal Button</div>
  <lib-button variant="primary" type="button">Primary Button</lib-button>
  <lib-button variant="secondary" type="button" btnClass="mx-2">
    Secondary Button
  </lib-button>
  <lib-button variant="success" type="button" btnClass="mx-2">
    Success Button
  </lib-button>
  <lib-button variant="danger" type="button" btnClass="mx-2">
    Danger Button
  </lib-button>
  <lib-button variant="warning" type="button" btnClass="mx-2">
    Warning Button
  </lib-button>
  <lib-button variant="info" type="button" btnClass="mx-2">
    Info Button
  </lib-button>
  <lib-button variant="light" type="button" btnClass="mx-2">
    Light Button
  </lib-button>
  <lib-button variant="dark" type="button" btnClass="mx-2">
    Dark Button
  </lib-button>
  <lib-button variant="link" type="button" btnClass="mx-2">link</lib-button>
</div>

<div class="my-3">
  <div class="mb-1">Outline Button</div>
  <lib-button variant="primary" type="button" [outline]="true">
    Primary Button
  </lib-button>
  <lib-button
    variant="secondary"
    type="button"
    [outline]="true"
    btnClass="mx-2"
  >
    Secondary Button
  </lib-button>
  <lib-button variant="success" type="button" [outline]="true" btnClass="mx-2">
    Success Button
  </lib-button>
  <lib-button variant="danger" type="button" [outline]="true" btnClass="mx-2">
    Danger Button
  </lib-button>
  <lib-button variant="warning" type="button" [outline]="true" btnClass="mx-2">
    Warning Button
  </lib-button>
  <lib-button variant="info" type="button" [outline]="true" btnClass="mx-2">
    Info Button
  </lib-button>
  <lib-button variant="light" type="button" [outline]="true" btnClass="mx-2">
    Light Button
  </lib-button>
  <lib-button variant="dark" type="button" [outline]="true" btnClass="mx-2">
    Dark Button
  </lib-button>
  <lib-button variant="link" type="button" [outline]="true" btnClass="mx-2">
    link
  </lib-button>
</div>

<div class="my-3">
  <div class="mb-1">Pill Button</div>
  <lib-button variant="primary" type="button" shape="pill">
    Primary Button
  </lib-button>
  <lib-button variant="secondary" type="button" shape="pill" btnClass="mx-2">
    Secondary Button
  </lib-button>
  <lib-button variant="success" type="button" shape="pill" btnClass="mx-2">
    Success Button
  </lib-button>
  <lib-button variant="danger" type="button" shape="pill" btnClass="mx-2">
    Danger Button
  </lib-button>
  <lib-button variant="warning" type="button" shape="pill" btnClass="mx-2">
    Warning Button
  </lib-button>
  <lib-button variant="info" type="button" shape="pill" btnClass="mx-2">
    Info Button
  </lib-button>
  <lib-button variant="light" type="button" shape="pill" btnClass="mx-2">
    Light Button
  </lib-button>
  <lib-button variant="dark" type="button" shape="pill" btnClass="mx-2">
    Dark Button
  </lib-button>
  <lib-button variant="link" type="button" shape="pill" btnClass="mx-2">
    link
  </lib-button>
</div>

<div class="my-3">
  <div class="mb-1">Rectangle Button</div>
  <lib-button variant="primary" type="button" shape="rectangle">
    Primary Button
  </lib-button>
  <lib-button
    variant="secondary"
    type="button"
    shape="rectangle"
    btnClass="mx-2"
  >
    Secondary Button
  </lib-button>
  <lib-button variant="success" type="button" shape="rectangle" btnClass="mx-2">
    Success Button
  </lib-button>
  <lib-button variant="danger" type="button" shape="rectangle" btnClass="mx-2">
    Danger Button
  </lib-button>
  <lib-button variant="warning" type="button" shape="rectangle" btnClass="mx-2">
    Warning Button
  </lib-button>
  <lib-button variant="info" type="button" shape="rectangle" btnClass="mx-2">
    Info Button
  </lib-button>
  <lib-button variant="light" type="button" shape="rectangle" btnClass="mx-2">
    Light Button
  </lib-button>
  <lib-button variant="dark" type="button" shape="rectangle" btnClass="mx-2">
    Dark Button
  </lib-button>
  <lib-button variant="link" type="button" shape="rectangle" btnClass="mx-2">
    link
  </lib-button>
</div>

<div class="my-3">
  <div class="mb-1">Disabled Button</div>
  <lib-button variant="primary" type="button" [disabled]="true">
    Primary Button
  </lib-button>
  <lib-button
    variant="secondary"
    type="button"
    [disabled]="true"
    btnClass="mx-2"
  >
    Secondary Button
  </lib-button>
  <lib-button variant="success" type="button" [disabled]="true" btnClass="mx-2">
    Success Button
  </lib-button>
  <lib-button variant="danger" type="button" [disabled]="true" btnClass="mx-2">
    Danger Button
  </lib-button>
  <lib-button variant="warning" type="button" [disabled]="true" btnClass="mx-2">
    Warning Button
  </lib-button>
  <lib-button variant="info" type="button" [disabled]="true" btnClass="mx-2">
    Info Button
  </lib-button>
  <lib-button variant="light" type="button" [disabled]="true" btnClass="mx-2">
    Light Button
  </lib-button>
  <lib-button variant="dark" type="button" [disabled]="true" btnClass="mx-2">
    Dark Button
  </lib-button>
  <lib-button variant="link" type="button" [disabled]="true" btnClass="mx-2">
    link
  </lib-button>
</div>

<div class="my-3">
  <div class="mb-1">Button Sizes</div>
  <lib-button variant="primary" size="sm" buttonType="button">Small</lib-button>
  <lib-button variant="primary" size="md" buttonType="button" btnClass="mx-2">
    Normal
  </lib-button>
  <lib-button variant="primary" size="lg" buttonType="button" btnClass="mx-2">
    Large
  </lib-button>
</div>
