<div class="text-3xl font-bold">Buttons</div>

<div class="my-3 border-b pb-3">
  <div class="mb-1">Normal Button</div>
  <Button variant="primary" type="button">Primary Button</Button>
  <Button variant="secondary" type="button" class="ml-2">
    Secondary Button
  </Button>
  <Button variant="success" type="button" class="ml-2">Success Button</Button>
  <Button variant="danger" type="button" class="ml-2">Danger Button</Button>
  <Button variant="warning" type="button" class="ml-2">Warning Button</Button>
  <Button variant="info" type="button" class="ml-2">Info Button</Button>
  <Button variant="light" type="button" class="ml-2">Light Button</Button>
  <Button variant="dark" type="button" class="ml-2">Dark Button</Button>
  <Button variant="link" type="button" class="ml-2">link</Button>
</div>

<div class="my-3 border-b pb-3">
  <div class="mb-1">Outline Button</div>
  <Button variant="primary" type="button" [outline]="true">
    Primary Button
  </Button>
  <Button variant="secondary" type="button" [outline]="true" class="ml-2">
    Secondary Button
  </Button>
  <Button variant="success" type="button" [outline]="true" class="ml-2">
    Success Button
  </Button>
  <Button variant="danger" type="button" [outline]="true" class="ml-2">
    Danger Button
  </Button>
  <Button variant="warning" type="button" [outline]="true" class="ml-2">
    Warning Button
  </Button>
  <Button variant="info" type="button" [outline]="true" class="ml-2">
    Info Button
  </Button>
  <Button variant="light" type="button" [outline]="true" class="ml-2">
    Light Button
  </Button>
  <Button variant="dark" type="button" [outline]="true" class="ml-2">
    Dark Button
  </Button>
  <Button variant="link" type="button" [outline]="true" class="ml-2">
    link
  </Button>
</div>

<div class="my-3 border-b pb-3">
  <div class="mb-1">Circle Button</div>
  <Button variant="primary" type="button" shape="circle">Primary Button</Button>
  <Button variant="secondary" type="button" shape="circle" class="ml-2">
    Secondary Button
  </Button>
  <Button variant="success" type="button" shape="circle" class="ml-2">
    Success Button
  </Button>
  <Button variant="danger" type="button" shape="circle" class="ml-2">
    Danger Button
  </Button>
  <Button variant="warning" type="button" shape="circle" class="ml-2">
    Warning Button
  </Button>
  <Button variant="info" type="button" shape="circle" class="ml-2">
    Info Button
  </Button>
  <Button variant="light" type="button" shape="circle" class="ml-2">
    Light Button
  </Button>
  <Button variant="dark" type="button" shape="circle" class="ml-2">
    Dark Button
  </Button>
  <Button variant="link" type="button" shape="circle" class="ml-2">link</Button>
</div>

<div class="my-3 border-b pb-3">
  <div class="mb-1">Pill Button</div>
  <Button variant="primary" type="button" shape="pill">Primary Button</Button>
  <Button variant="secondary" type="button" shape="pill" class="ml-2">
    Secondary Button
  </Button>
  <Button variant="success" type="button" shape="pill" class="ml-2">
    Success Button
  </Button>
  <Button variant="danger" type="button" shape="pill" class="ml-2">
    Danger Button
  </Button>
  <Button variant="warning" type="button" shape="pill" class="ml-2">
    Warning Button
  </Button>
  <Button variant="info" type="button" shape="pill" class="ml-2">
    Info Button
  </Button>
  <Button variant="light" type="button" shape="pill" class="ml-2">
    Light Button
  </Button>
  <Button variant="dark" type="button" shape="pill" class="ml-2">
    Dark Button
  </Button>
  <Button variant="link" type="button" shape="pill" class="ml-2">link</Button>
</div>

<div class="my-3 border-b pb-3">
  <div class="mb-1">Rectangle Button</div>
  <Button variant="primary" type="button" shape="rectangle">
    Primary Button
  </Button>
  <Button variant="secondary" type="button" shape="rectangle" class="ml-2">
    Secondary Button
  </Button>
  <Button variant="success" type="button" shape="rectangle" class="ml-2">
    Success Button
  </Button>
  <Button variant="danger" type="button" shape="rectangle" class="ml-2">
    Danger Button
  </Button>
  <Button variant="warning" type="button" shape="rectangle" class="ml-2">
    Warning Button
  </Button>
  <Button variant="info" type="button" shape="rectangle" class="ml-2">
    Info Button
  </Button>
  <Button variant="light" type="button" shape="rectangle" class="ml-2">
    Light Button
  </Button>
  <Button variant="dark" type="button" shape="rectangle" class="ml-2">
    Dark Button
  </Button>
  <Button variant="link" type="button" shape="rectangle" class="ml-2">
    link
  </Button>
</div>

<div class="my-3 border-b pb-3">
  <div class="mb-1">Disabled Button</div>
  <Button variant="primary" type="button" [disabled]="true">
    Primary Button
  </Button>
  <Button variant="secondary" type="button" [disabled]="true" class="ml-2">
    Secondary Button
  </Button>
  <Button variant="success" type="button" [disabled]="true" class="ml-2">
    Success Button
  </Button>
  <Button variant="danger" type="button" [disabled]="true" class="ml-2">
    Danger Button
  </Button>
  <Button variant="warning" type="button" [disabled]="true" class="ml-2">
    Warning Button
  </Button>
  <Button variant="info" type="button" [disabled]="true" class="ml-2">
    Info Button
  </Button>
  <Button variant="light" type="button" [disabled]="true" class="ml-2">
    Light Button
  </Button>
  <Button variant="dark" type="button" [disabled]="true" class="ml-2">
    Dark Button
  </Button>
  <Button variant="link" type="button" [disabled]="true" class="ml-2">
    link
  </Button>
</div>

<div class="my-3 border-b pb-3">
  <div class="mb-1">Button Sizes</div>
  <Button variant="primary" size="sm" buttonType="button">Small</Button>
  <Button variant="primary" size="md" buttonType="button" class="ml-2">
    Normal
  </Button>
  <Button variant="primary" size="lg" buttonType="button" class="ml-2">
    Large
  </Button>
</div>
