<div class="container-xxl flex-grow-1 container-p-y">            
  <div class="row g-6 mb-6">
    <!-- Basic Alerts -->
    <div class="col-md">
      <div class="card">
        <h5 class="card-header">Basic Alerts</h5>
        <div class="card-body">
          <core-alert variant="primary">
            This is a primary alert — check it out!
          </core-alert>
  
          <core-alert variant="secondary">
            This is a secondary alert — check it out!
          </core-alert>
  
          <core-alert variant="success">
            This is a success alert — check it out!
          </core-alert>
  
          <core-alert variant="danger">
            This is a danger alert — check it out!
          </core-alert>
  
          <core-alert variant="warning">
            This is a warning alert — check it out!
          </core-alert>
  
          <core-alert variant="info">
            This is an info alert — check it out!
          </core-alert>
  
          <core-alert variant="dark">
            This is a dark alert — check it out!
          </core-alert>
        </div>
      </div>
    </div>
    <!--/ Basic Alerts -->
    <!-- Outline Alerts -->
    <div class="col-md">
      <div class="card">
        <h5 class="card-header">Outline Alerts</h5>
        <div class="card-body">
          <core-alert variant="primary" [outline]="true">
            This is a primary outline alert — check it out!
          </core-alert>
  
          <core-alert variant="secondary" [outline]="true">
            This is a secondary outline alert — check it out!
          </core-alert>
  
          <core-alert variant="success" [outline]="true">
            This is a success outline alert — check it out!
          </core-alert>
  
          <core-alert variant="danger" [outline]="true">
            This is a danger outline alert — check it out!
          </core-alert>
  
          <core-alert variant="warning" [outline]="true">
            This is a warning outline alert — check it out!
          </core-alert>
  
          <core-alert variant="info" [outline]="true">
            This is an info outline alert — check it out!
          </core-alert>
  
          <core-alert variant="dark" [outline]="true">
            This is a dark outline alert — check it out!
          </core-alert>
        </div>
      </div>
    </div>
    <!--/ Outline Alerts -->
  </div>
  <div class="row g-6 mb-6">
    <!-- Solid Alerts -->
    <div class="col-md">
      <div class="card">
        <h5 class="card-header">Solid Alerts</h5>
        <div class="card-body">
          <core-alert variant="primary" [solid]="true">
            This is a primary solid alert — check it out!
          </core-alert>
  
          <core-alert variant="secondary" [solid]="true">
            This is a secondary solid alert — check it out!
          </core-alert>
  
          <core-alert variant="success" [solid]="true">
            This is a success solid alert — check it out!
          </core-alert>
  
          <core-alert variant="danger" [solid]="true">
            This is a danger solid alert — check it out!
          </core-alert>
  
          <core-alert variant="warning" [solid]="true">
            This is a warning solid alert — check it out!
          </core-alert>
  
          <core-alert variant="info" [solid]="true">
            This is an info solid alert — check it out!
          </core-alert>
  
          <core-alert variant="dark" [solid]="true">
            This is a dark solid alert — check it out!
          </core-alert>
        </div>
      </div>
    </div>
    <!--/ Solid Alerts -->
    <!-- Dismissible Alerts -->
    <div class="col-md">
      <div class="card">
        <h5 class="card-header">Dismissible Alerts</h5>
        <div class="card-body">
          <core-alert variant="primary" [dismissible]="true">
            This is a primary dismissible alert — check it out!
          </core-alert>
  
          <core-alert variant="secondary" [dismissible]="true">
            This is a secondary dismissible alert — check it out!
          </core-alert>
  
          <core-alert variant="success" [dismissible]="true">
            This is a success dismissible alert — check it out!
          </core-alert>
  
          <core-alert variant="danger" [dismissible]="true">
            This is a danger dismissible alert — check it out!
          </core-alert>
  
          <core-alert variant="warning" [dismissible]="true">
            This is a warning dismissible alert — check it out!
          </core-alert>
  
          <core-alert variant="info" [dismissible]="true">
            This is an info dismissible alert — check it out!
          </core-alert>
  
          <core-alert variant="dark" [dismissible]="true">
            This is a dark dismissible alert — check it out!
          </core-alert>
        </div>
      </div>
    </div>
    <!--/ Dismissible Alerts -->
  </div>
  <div class="row g-6  mb-6">
    <!-- Alerts with Icons -->
    <div class="col-md">
      <div class="card">
        <h5 class="card-header">Alerts with Icons</h5>
        <div class="card-body">
          <core-alert variant="primary" [solid]="true" cssClass="d-flex align-items-center">
            <span class="alert-icon rounded-circle">
              <i class="bx bx-xs bx-command"></i>
            </span>
            This is a primary solid alert — check it out!
          </core-alert>
  
          <core-alert variant="secondary" [solid]="true" cssClass="d-flex align-items-center">
            <span class="alert-icon rounded-circle">
              <i class="bx bx-xs bx-envelope"></i>
            </span>
            This is a secondary solid alert — check it out!
          </core-alert>
  
          <core-alert variant="success" [solid]="true" cssClass="d-flex align-items-center">
            <span class="alert-icon rounded-circle">
              <i class="bx bx-xs bx-desktop"></i>
            </span>
            This is a success solid alert — check it out!
          </core-alert>
  
          <core-alert variant="danger" [solid]="true" cssClass="d-flex align-items-center">
            <span class="alert-icon rounded-circle">
              <i class="bx bx-xs bx-store"></i>
            </span>
            This is a danger solid alert — check it out!
          </core-alert>
  
          <core-alert variant="warning" [solid]="true" cssClass="d-flex align-items-center">
            <span class="alert-icon rounded-circle">
              <i class="bx bx-xs bx-wallet"></i>
            </span>
            This is a warning solid alert — check it out!
          </core-alert>
  
          <core-alert variant="info" [solid]="true" cssClass="d-flex align-items-center">
            <span class="alert-icon rounded-circle">
              <i class="bx bx-xs bx-detail"></i>
            </span>
            This is an info solid alert — check it out!
          </core-alert>
  
          <core-alert variant="dark" [solid]="true" cssClass="d-flex align-items-center">
            <span class="alert-icon rounded-circle">
              <i class="bx bx-xs bx-save"></i>
            </span>
            This is a dark solid alert — check it out!
          </core-alert>
        </div>
      </div>
    </div>
    <!--/ Alerts with Icons -->

    <!-- Alerts with Filled Icons -->
    <div class="col-md">
      <div class="card">
        <h5 class="card-header">Alerts with Filled Icons</h5>
        <div class="card-body">
          <core-alert variant="primary" cssClass="d-flex align-items-center">
            <span class="alert-icon filled rounded-circle">
              <i class="bx bx-xs bx-command"></i>
            </span>
            This is a primary solid alert — check it out!
          </core-alert>
  
          <core-alert variant="secondary" cssClass="d-flex align-items-center">
            <span class="alert-icon filled rounded-circle">
              <i class="bx bx-xs bx-envelope"></i>
            </span>
            This is a secondary solid alert — check it out!
          </core-alert>
  
          <core-alert variant="success" cssClass="d-flex align-items-center">
            <span class="alert-icon filled rounded-circle">
              <i class="bx bx-xs bx-desktop"></i>
            </span>
            This is a success solid alert — check it out!
          </core-alert>
  
          <core-alert variant="danger" cssClass="d-flex align-items-center">
            <span class="alert-icon filled rounded-circle">
              <i class="bx bx-xs bx-store"></i>
            </span>
            This is a danger solid alert — check it out!
          </core-alert>
  
          <core-alert variant="warning" cssClass="d-flex align-items-center">
            <span class="alert-icon filled rounded-circle">
              <i class="bx bx-xs bx-wallet"></i>
            </span>
            This is a warning solid alert — check it out!
          </core-alert>
  
          <core-alert variant="info" cssClass="d-flex align-items-center">
            <span class="alert-icon filled rounded-circle">
              <i class="bx bx-xs bx-detail"></i>
            </span>
            This is an info solid alert — check it out!
          </core-alert>
  
          <core-alert variant="dark" cssClass="d-flex align-items-center">
            <span class="alert-icon filled rounded-circle">
              <i class="bx bx-xs bx-save"></i>
            </span>
            This is a dark solid alert — check it out!
          </core-alert>
        </div>
      </div>
    </div>
    <!--/ Alerts with Filled Icons -->
  </div>

  <div class="row g-6">
    <!-- Alerts with headings -->
    <div class="col-md">
      <div class="card">
        <h5 class="card-header">Alerts with Heading</h5>
        <div class="card-body">
          <core-alert variant="primary" [dismissible]="true">
            <h6 class="alert-heading d-flex align-items-center mb-1">For a watch</h6>
            <p class="mb-0">Bonbon sweet roll dragée lemon drops tart.</p>
          </core-alert>
          <core-alert variant="secondary" [dismissible]="true">
            <h6 class="alert-heading d-flex align-items-center mb-1">Alert Heading</h6>
            <p class="mb-0">Cupcake jelly cookie chocolate bar topping.</p>
          </core-alert>
          <core-alert variant="success" [dismissible]="true">
            <h4 class="alert-heading d-flex align-items-center"><span class="alert-icon rounded-circle"><i class="bx bx-coffee"></i></span>Well done :)</h4>
            <hr>
            <p class="mb-0">Halvah cheesecake toffee. Cupcake jelly cookie chocolate bar topping. Cupcake candy dessert
              biscuit
              chocolate halvah bear claw sweet liquorice. Gummies wafer candy canes chocolate.</p>
          </core-alert>
          <core-alert variant="danger" [dismissible]="true">
            <h4 class="alert-heading d-flex align-items-center"><span class="alert-icon rounded-circle"><i class="bx bx-error"></i></span>Error!!</h4>
            <p>Aww yeah, you successfully read this important alert message. Sweet muffin croissant oat cake marzipan
              powder jujubes.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.Jujubes
              bonbon danish dragée oat cake cupcake macaroon. Sesame snaps pudding cotton candy.</p>
          </core-alert>
          <core-alert variant="primary" [dismissible]="true">
            <h4 class="alert-heading d-flex align-items-center"><span class="alert-icon rounded-circle"><i class="bx bx-show"></i></span>For a watch</h4>
            <p class="mb-0">Bonbon sweet roll dragée lemon drops tart gummi bears fruitcake. Jujubes bonbon danish dragée
              oat cake
              cupcake macaroon. Sesame snaps pudding cotton candy.</p>
          </core-alert>
        </div>
      </div>
    </div>
    <!--/ Alerts with headings -->
  </div>
</div>