<div class="h2">Cards</div>

<div class="row">
  <div class="col-4">
    <Card theme="light" customClass="max-w-sm mb-2">
      <ng-template #cardHeader>
        <h2 class="text-xl font-semibold">Card Header</h2>
      </ng-template>

      <ng-template #cardBody>
        <p>This is the body of the card. You can put any content here.</p>
      </ng-template>

      <ng-template #cardFooter>
        <p>Card Footer Content</p>
      </ng-template>
    </Card>
  </div>

  <div class="col-4">
    <Card theme="dark" customClass="max-w-sm mb-2">
      <ng-template #cardHeader>
        <h2 class="text-xl font-semibold">Card Header</h2>
      </ng-template>

      <ng-template #cardBody>
        <p>This is the body of the card. You can put any content here.</p>
      </ng-template>

      <ng-template #cardFooter>
        <p>Card Footer Content</p>
      </ng-template>
    </Card>
  </div>

  <div class="col-4">
    <Card theme="light" customClass="max-w-sm mb-2">
      <ng-template #cardBody>
        <p>This is the body of the card. You can put any content here.</p>
      </ng-template>
    </Card>
  </div>
</div>
