<div class="container-xxl flex-grow-1 container-p-y">
  <!-- Breadcrumb -->
  <div class="card">
    <h5 class="card-header">Breadcrumbs</h5>
    <div class="card-body">
      <!-- Basic Breadcrumb -->
      <core-breadcrumb [items]="breadcrumbItems"></core-breadcrumb>

      <!-- Custom style1 Breadcrumb -->
      <core-breadcrumb [items]="breadcrumbItems" styleClass="breadcrumb-style1"></core-breadcrumb>

      <!-- Custom style2 Breadcrumb -->
      <core-breadcrumb [items]="breadcrumbItems" styleClass="breadcrumb-style2"></core-breadcrumb>
    </div>
  </div>
  <!--/ Breadcrumb -->
</div>