<div class="h2">Alerts</div>

<Alert type="primary" [dismissible]="true">
  A simple primary alert—check it out!
</Alert>

<Alert type="secondary" [dismissible]="true">
  A simple secondary alert—check it out!
</Alert>

<Alert type="success" [dismissible]="true">
  A simple success alert—check it out!
</Alert>

<Alert type="danger" [dismissible]="true">
  <div>A simple danger alert—check it out!</div>
</Alert>

<Alert type="warning" [dismissible]="true">
  A simple warning alert—check it out!
</Alert>

<Alert type="info" [dismissible]="true">
  A simple info alert—check it out!
</Alert>

<Alert type="light" [dismissible]="true">
  A simple light alert—check it out!
</Alert>

<Alert type="dark" [dismissible]="true">
  A simple dark alert—check it out!
</Alert>
