<nav class="border-b p-3">
  <ul class="flex flex-row font-medium space-x-2">
    <li>
      <a routerLink="buttons" routerLinkActive="active" class="font-bold">
        Buttons
      </a>
    </li>
    <li>
      <a routerLink="alerts" routerLinkActive="active" class="font-bold">
        Alert
      </a>
    </li>
    <li>
      <a routerLink="cards" routerLinkActive="active" class="font-bold">Card</a>
    </li>
    <li>
      <a routerLink="modals" routerLinkActive="active" class="font-bold">
        Modal
      </a>
    </li>
  </ul>
</nav>

<div class="p-3">
  <router-outlet></router-outlet>
</div>
